/* Here we can set styles for this lab page that we don't want to effect others pages */
p {
  color:midnightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-indent: 20px;
}
/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #68423D;
    background-color: #8a9a5b;
  }
h1 {
    "color: darkkhaki;
    font-size: 50px;
    font-family: fantasy;"
  }
